.Comment {
	padding: 24px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid #e6e6e7;
	height: 400px;
	max-width: 400px;
}

.userName {
	color: #222;
	font-size: 16px;
	font-weight: 500;
}

.starsCont {
	display: flex;
	gap: 12px;
}

.stars {
	display: flex;
	gap: 5px;
}

.stars img {
	width: 12px;
}

.commenHead{
    margin-bottom: 24px;
}

.commentBody {
	display: grid;
	grid-template-columns: minmax(0, 80px) 1fr;
	gap: 24px;
}

.commentBody .commentImg {
	width: 100%;
}

.commentTextCont {
	display: flex;
	gap: 16px;
	align-items: start;
	flex-direction: column;
}

.commentTextCont button {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	text-decoration-line: underline;
}

.commentText {
	overflow: hidden;
	color: #222;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 10;
	font-size: 16px;
	font-weight: 400;
	max-height: 200px;
}

.commentFoot {
	color: #9e9e9e;
    display: flex;
    justify-content: space-between;
	font-size: 16px;
	font-weight: 400;
}
